$primary: #6dce37;
$secondary1: #66b440;
$secondary2: #a6d08f;
$secondary3: #84b466;
$background: #fff;
$text-primary: #111;
$text-secondary: #3f3f3f;
$text-hint: #c3c3c3;
$text-error: #ff8989;
$default-radius: 4px;
$disabled-bg: #e6e6e6;
$depressed: #888;
$gray1: #d7d7d7;
$gray2: #7b7b7b;

$open-sans: "Open Sans", sans-serif;
